<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Pairing App</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Random Pairing App</h1>
    <form action="/pair" method="post">
        <label for="user_number">Enter a number between 1 and 203:</label>
        <input type="text" name="user_number" required>
        <br>
        <input type="submit" value="Pair">
    </form>
</body>
</html>
